<div id="footer">
    <div class="main">
        <a href="{{ path('index') }}" title="{{ home_title }}">
            <amp-img src="/images/logo.png" alt="{{ home_title }}" layout="fixed" width="170" height="18"></amp-img>
        </a>
        <p class="million">Serves 50+ million views a year</p>

        <div class="footer-top">
            <ul>
                <li><a href="{{ path('about') }}" title="हमारे बारे में जाने" rel="nofollow">हमारे बारे में जाने</a></li>
                <li><a href="{{ path('contact') }}" title="हमें संपर्क करें" rel="nofollow"> हमें संपर्क करें</a></li>
                <li><a href="{{ path('privacy_policy') }}" title=" गुप्तता नीति" rel="nofollow">  गुप्तता नीति</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <h2 class="title-13">As featured on</h2>
            <div style="width: 100%;margin: 5px 0px;">
                <div class="amp-logo-footer" style="width: 90px; height: 18px;">
                    {#<a href="https://www.autocarindia.com/" rel="nofollow" target="_blank" title="autocarindia.com">#}
                        <amp-img src="/images/logo1.png" layout="fixed" width="70" height="12"></amp-img>
                    {#</a>#}
                </div>
                <div class="amp-logo-footer" style="width: 97px; height: 18px;">
                    {#<a rel="nofollow" title="newsweek.com" target="_blank" href="https://www.newsweek.com/">#}
                        <amp-img src="/images/logo2.png" layout="fixed" width="87" height="12"></amp-img>
                    {#</a>#}
                </div>
                <div class="amp-logo-footer" style="width: 45px; height: 21px;">
                    {#<a href="https://cnn.com/" target="_blank" rel="nofollow" title="cnn.com">#}
                        <amp-img src="/images/logo3.png" layout="fixed" width="25" height="15"></amp-img>
                    {#</a>#}
                </div>
                <div class="amp-logo-footer" style="width: 98px; height: 28px;">
                    {#<a rel="nofollow" href="https://timesofindia.indiatimes.com/" target="_blank" title="timesofindia.indiatimes.com">#}
                        <amp-img src="/images/logo4.png" layout="fixed" width="78" height="22"></amp-img>
                    {#</a>#}
                </div>
                <div class="amp-logo-footer" style="width: 48px; height: 28px;">
                    {#<a href="https://www.foxnews.com/" rel="nofollow" title="foxnews.com" target="_blank">#}
                        <amp-img src="/images/logo5.png" layout="fixed" width="28" height="22"></amp-img>
                    {#</a>#}
                </div>
                <div class="amp-logo-footer" style="width: 134px; height: 19px;">
                    {#<a href="http://www.chinadaily.com.cn/" rel="nofollow" title="chinadaily.com.cn" target="_blank">#}
                        <amp-img src="/images/logo6.png" layout="fixed" width="114" height="13"></amp-img>
                    {#</a>#}
                </div>
                <div class="amp-logo-footer" style="width: 63px; height: 38px;">
                    {#<a href="https://www.nytimes.com/" target="_blank" rel="nofollow" title="nytimes.com">#}
                        <amp-img src="/images/logo7.png" layout="fixed" width="43" height="32"></amp-img>
                    {#</a>#}
                </div>
                <div class="amp-logo-footer" style="width: 64px; height: 25px;">
                    {#<a title="autobild.de" href="https://www.autobild.de/" rel="nofollow" target="_blank">#}
                        <amp-img src="/images/logo8.png" layout="fixed" width="34" height="19"></amp-img>
                    {#</a>#}
                </div>
            </div>

        </div>

    </div>
    <div class="copy"><p class="copyright text-center">Copyright © 2008-2018 Indian Autos blog</p></div>
</div>