{% extends 'base.html.twig' %}
{% block content %}
    <section class="list-new2 pd-top-29">
        <div class="container">
            <div class="title-menu"><h1 class="title-30-22 full-width">About indian Autos blog</h1></div>
            <div class="detail-pri">
                <p>
                    IndianAutosBlog.com (IAB), established in July 2008, is a pioneer in the Indian blogosphere for automotive content, publishing hourly news, updates and reviews from emerging automotive markets. As India's most-read automotive blog with a 'direct' reader community stretching to well over a million, IAB is seen as a gateway to the sub-continent's car & motorcycle industry by readers in over 200 countries. Its wide cross section of readers range from high school students, entrepreneurs, market researchers, development engineers, managers to CEOs and policy makers.
                </p
                <div class="mg-auto">
                    <img src="/images/about.png" alt="About indian Autos blog" class="responsive">
                </div>
                <h3 class="title-20">The team</h3>
                <ul class="list-u">
                    <li>
                        <div class="left-team"><a href="javascript:void(0)" rel="nofollow"  title="Shrawan Raja"><img src="{{ media_url }}/about/Shrawan-Raja.jpg" alt="Shrawan Raja"></a></div>
                        <div class="right-team">
                            <span class="f-rb">Shrawan Raja</span>
                            <span class="cv">Former Editor in chief</span>
                            <p>Building IndianAutosBlog.com since 21, my whole working life these 10 years has been about studying automobiles and the internet. Half a billion impressions later, there's nothing more I look forward to than preparing the storyboard with my passionate & persevering pack of content producers every day in our hunt to make IndianAutosBlog the most loved website. And it's no surprise that my teammates are my favourite people.</p>

                            <p>When I'm not on my job, you will catch me hiking, playing fetch with my two dogs, listening to Zig Ziglar, solving a word game, reading the scriptures and enjoying a game of cricket. My favourite line is from Rumi, a 13th-century Persian poet who said, "What you seek is seeking you."</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-team">
                            <a href="javascript:void(0)" rel="nofollow"  title="Yatharth Chauhan">
                                <img src="{{ media_url }}/about/Yatharth-Chauhan.jpg" alt="Yatharth Chauhan">
                            </a>
                        </div>
                        <div class="right-team">
                            <span class="f-rb">Yatharth Chauhan </span>
                            <span class="cv">Additional Editor</span>
                            <p>I'm a keen follower of the Indian car industry and strive to keep you updated with the latest from the world of automobiles, on a daily basis. I stay in touch with a large number of road users, all in a bid to understand their perception about motoring. While I don’t like anything as much as I love cars, you can often find me spending quality time on a motorcycle or driving away from the urban mess. A young, passionate petrolhead, I dream to become the face of Indian automotive journalism.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-team">
                            <a href="javascript:void(0)" rel="nofollow"  title="Anjan Ravi">
                                <img src="{{ media_url }}/about/Anjan-Ravi.jpg" alt="Anjan Ravi">
                            </a>
                        </div>
                        <div class="right-team">
                            <span class="f-rb">Anjan Ravi</span>
                            <span class="cv">Columnist</span>
                            <p>When I am not writing about cars and bikes, I fly the Airbus A320. When I am not flying or driving, I love getting into the marketing insights of any industry, especially the auto industry, for which I've traveled around the world. And when I am not doing any of the above, I am probably traveling or learning film making. Like many, I am also looking forward to how Artificial Intelligence is changing motoring, and the car as we know it. And before that transformation takes place, I want to drive down to the Nurburgring in my car, and get a couple of hot laps in. Ausgetzeichnet!</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-team">
                            <a href="javascript:void(0)" rel="nofollow"  title="Suvil Susvirkar">
                                <img src="{{ media_url }}/about/Suvil-Susvirkar.jpg" alt="Suvil Susvirkar">
                            </a>
                        </div>
                        <div class="right-team">
                            <span class="f-rb">Suvil Susvirkar</span>
                            <span class="cv">Motorcycle Editor</span>
                            <p>Born and brought up in Mumbai, I've had a thing for motorcycles for as long as I can remember. I'm a couch potato whenever I'm not riding and my typical weekends revolve around MotoGP or Netflix. My dream destinations to ride include the Pacific Coast Highway, Great Ocean Road, and the Amalfi Coast.</p>
                            <p>I've been riding for over 15 years during which I've ridden two-wheelers ranging from humble 100cc scooters to 1,800cc cruisers. I'm currently handling the Motorcycles section of Indian Autos Blog and aim to bring you all the latest updates from the world of motoring.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-team">
                            <a href="javascript:void(0)" rel="nofollow"  title="Ajinkya Lad">
                                <img src="{{ media_url }}/about/Ajinkya-Lad.jpg" alt="Ajinkya Lad">
                            </a>
                        </div>
                        <div class="right-team">
                            <span class="f-rb">Ajinkya Lad </span>
                            <span class="cv">Additional Motorcycle Editor</span>
                            <p>Automobiles caught my fancy since I was a child. So, when the opportunity came knocking to be up-close and personal with some of the best machines in the market, I grabbed it with both hands. While all kinds of automobiles interests me, I am more inclined towards motorcycles. Being an intorvert, I find my calling in the various bike trips I take. I am more of an adventure tourer than being a corner craver, and 'naked roadsters' are my partners in crime. Planning road trips and exploring the unbeaten paths are my forte. At IAB, I am responsible for the overall growth of the two-wheelers section, be it news, features or reviews.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-team"><a href="javascript:void(0)" rel="nofollow"  title="Shoeb R Kalania"><img src="{{ media_url }}/about/Shoeb-Kalania.jpg" alt="Shoeb R Kalania"></a></div>
                        <div class="right-team">
                            <span class="f-rb">Shoeb R Kalania</span>
                            <span class="cv">Renderings specialist</span>
                            <p>I am an Automobile Engineer by Qualification, an Automobile Designer by passion and an Automotive Illustrator / Rendering artist by profession. I currently run a virtual design studio by the name of SRK Designs which focuses on making artwork on automobiles that are months, sometimes years away from a production line. I also provide design ideas for car customization and concept vehicles. I also have a YouTube channel by the name SRK Designs where you get to see the making videos of some of the renderings that I work on.  I have been a part of IndianAutosBlog.com since 2009.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-team"><a href="javascript:void(0)" rel="nofollow"  title="Karan Mathur"><img src="{{ media_url }}/about/Karan-Mathur.jpg" alt="Karan Mathur"></a></div>
                        <div class="right-team">
                            <span class="f-rb">Karan Mathur</span>
                            <span class="cv">Video Editor</span>
                            <p>With a burning passion for all things automotive, cars and motorcycles have had me obsessed even before I could actually speak my first words. Nothing gets me more excited than performance-oriented cars and motorcycles that pack a punch higher than their prices would suggest. I started my career at Auto Today magazine, writing features and reviews from their very first issue. Eventually, with a strong urge to make engaging and visually-enticing automotive videos for my reviews, I picked up the video camera and started sharpening my editing skills. My main aim is to make the kind of videos that not only wow the audience but also help them walk away with a armada of knowledge about that subject, under their belt.</p>
                        </div>
                    </li>

                    <li>
                        <div class="left-team"><a href="javascript:void(0)" rel="nofollow"  title="Gaurav Malik"><img src="{{ media_url }}/about/Gaurav-Malik.jpg" alt="Gaurav Malik"></a></div>
                        <div class="right-team">
                            <span class="f-rb">Gaurav Malik</span>
                            <span class="cv">Hindi News correspondent</span>
                            <p>From interviewing designers like Mr. Gerry McGovern, driving beasts like the Lamborghini Aventador or being polited around an F1 circuit in an Aston Martin Vantage GTE Le Mans car, the last 7 years have been a thrill at IndianAutosBlog. Filling the days in between are countless overseas assignments, press conferences and review runs. I am a geek, photographer, travel enthusiast and universal donor. On top of it all I take pride in being a part of team IAB as we thrive towards our goal of being the most credible news source in India.</p>
                        </div>
                    </li>
                    <li>
                        <div class="left-team"><a href="javascript:void(0)" rel="nofollow"  title="Sagar Parikh"><img src="{{ media_url }}/about/sagar-parikh-iab-about-page.jpg" alt="Sagar Parikh"></a></div>
                        <div class="right-team">
                            <span class="f-rb">Sagar Parikh</span>
                            <span class="cv">International News Editor</span>
                            <p>Cars have been and will be my life. It all started with scale models in the childhood, RCs a few years later and then the real ones. I still collect the miniatures but I am finally lucky enough now to see in person and drive the best cars out there working at Indian Autos Blog. I’m here to publish the daily scoops from the international markets, while also sharing my review of newly launched cars and covering global motor shows periodically.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}