{% if dataRelated|length > 0 %}
<section class="list-new2-2" id="latestDetailPost-News">
    <h2 class="title-30">{{ nameTag }} News & Updates </h2>
    <ul class="list-news2 list-car-col row">
        {% for key, item in dataRelated %}
        <li  class="col-xs-12 col-sm-6 col-md-4">
            <a title="{{ item.title }}" href="{{ item.url }}" class="img-sp">
                <img src="{{ item.avatar }}" alt="{{ item.title }}">
            </a>
            <div class="info-car" style="height: 120px;">
                <h3><a href="{{ item.url }}" class="name-pro" title="{{ item.title }}">{{ item.title }}</a></h3>
                <span class="date-creat"> <i class="icon-clock"></i> {{ item.s_publish_time }}</span>

            </div>
        </li>
        {% endfor %}
    </ul>
</section><!--end -list-new2-2-->
{% endif %}